extends layout
block content
    section.section
        .container
            .row
                .col-lg-5.mb-5.text-right.text-mobile-center
                    img.img-fluid.lazy(data-src='./assets/images/aboutus.jpg' alt='about us page')
                .col-lg-7.text-justify.line-height-lg
                    h1.h3.py-2
                        | به مگ چیست؟
                    p
                        | به مگ 
                        span.text-primary.font-weight-bold
                            | (Beh Mag) 
                        | مجله اینترنتی فارسی زبان است که در حوزه‌ی فناوری فعالیت می کند.
                        | هدف تیم تخصصی به مگ بررسی و مقایسه کالای دیجینال است.
                        | «به مگ» باعث می شود شما در امر خرید فرایند آسان تری را طی کنید.
                    p
                    | تلاش ما بر این است، محصولاتی را به شما معرفی کنیم که از لحاظ کیفیت دارای استاندارد و محبوبیت
                    | بالایی بین خریداران باشد.
                    | قابل ذکر است به مگ کالایی را به صورت مستقیم به فروش نمی رساند و فقط به بررسی و مقایسه محصولات می
                    | پردازد.
                    p
                    | با کمک 
                    span.text-primary.font-weight-bold
                        | به مگ 
                    | هوشمدانه و با خیال آسوده خرید کنید.
                    hr
                    h2.py-2.h3
                        | به مگ در شبکه های اجتماعی
                    p
                        | برای اطلاع از اخبار، مقالات و بررسی ها، به مگ را در شبکه های اجتماعی دنبال کنید.
                    ul.list-unstyled.list-inline
                    li.list-inline-item
                        a.text-dark(href='#')
                            i.icons-linkedin.icons-2x
                    li.list-inline-item
                        a.text-dark(href='#')
                            i.icons-instagram.icons-2x
                    li.list-inline-item
                        a.text-dark(href='#')
                            i.icons-twitter.icons-2x
                    li.list-inline-item
                        a.text-dark(href='#')
                            i.icons-telegram.icons-2x
                    hr
                    h2.py-2.h3
                        | ارتباط با به مگ
                    p
                        | برای ارسال انتقادات و پیشنهادها می توانید از طریق 
                        a(href='#')
                            | تماس با ما 
                        | اقدام کنید.
