extends layout
block content

    section.section.section--gray
            .container
                .row.posts
                    .col-lg-6.col-md-12

                        .posts__main
                            h4
                                a(href="#" ,class="lazy posts__main-link", data-bg="./assets/images/posts/post-tect-01.jpg")
                                    span.posts__main-text
                                        | آموزش نصب NodeJs

                    .col-lg-6.col-md-12
                        .posts__list
                            .media
                                a(href="#")
                                    img(class="posts__img lazy", width="105", height="105",data-src="./assets/images/posts/post-tect-02.jpg", alt="Generic placeholder image")
                                .media-body
                                    h4
                                        a(href="#")
                                            | بحث در مورد پی سی
                                    p.posts__desc
                                        | لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه


                            .media
                                a(href="#")
                                    img(class="posts__img lazy", width="105", height="105",data-src="./assets/images/posts/post-tect-03.jpg", alt="Generic placeholder image")
                                .media-body
                                    h4
                                        a(href="#")
                                            | بحث در مورد پی سی
                                    p.posts__desc
                                        | لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه

                            .media
                                a(href="#")
                                    img(class="posts__img lazy", width="105", height="105",data-src="./assets/images/posts/post-tect-04.jpg", alt="Generic placeholder image")
                                .media-body
                                    h4
                                        a(href="#")
                                            | بحث در مورد پی سی
                                    p.posts__desc
                                        | لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه


                            .media
                                a(href="#")
                                    img(class="posts__img lazy", width="105", height="105",data-src="./assets/images/posts/post-tect-05.jpg", alt="Generic placeholder image")
                                .media-body
                                    h4
                                        a(href="#")
                                            | بحث در مورد پی سی
                                    p.posts__desc
                                        | لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه


                .section__header.row.align-items-center
                    .col-6
                            h3.section__title
                                | موضوعات داغ
                    .col-6
                        .text-left.text-sm-left
                            a(href="#")
                                | مشاهده همه

                ul.topics
                    li.topics__item
                        a(href="#")
                            img(data-src="./assets/images/topics/post-sm-01.jpg", class="topics__img lazy", alt="image")
                        h4.topics__title
                            a(href="#")
                                | کامپیوتر
                    li.topics__item
                        a(href="#")
                            img(data-src="./assets/images/topics/post-sm-02.jpg", class="topics__img lazy", alt="image")
                        h4.topics__title
                            a(href="#")
                                | کامپیوتر
                    li.topics__item
                        a(href="#")
                            img(data-src="./assets/images/topics/post-sm-03.jpg", class="topics__img lazy", alt="image")
                        h4.topics__title
                            a(href="#")
                                | کامپیوتر
                    li.topics__item
                        a(href="#")
                            img(data-src="./assets/images/topics/post-sm-04.jpg", class="topics__img lazy", alt="image")
                        h4.topics__title
                            a(href="#")
                                | کامپیوتر
                    li.topics__item
                        a(href="#")
                            img(data-src="./assets/images/topics/post-sm-05.jpg", class="topics__img lazy", alt="image")
                        h4.topics__title
                            a(href="#")
                                | کامپیوتر
                    li.topics__item
                        a(href="#")
                            img(data-src="./assets/images/topics/post-sm-06.jpg", class="topics__img lazy", alt="image")
                        h4.topics__title
                            a(href="#")
                                | کامپیوتر