extends layout
block content

    section.section.section--gray
            .container
                .row.posts
                    .col-lg-6.col-md-12

                        .posts__main
                            h4
                                a(href="#" ,class="lazy posts__main-link", data-bg="./assets/images/posts/post-tect-01.jpg")
                                    span.posts__main-text
                                        | آموزش نصب NodeJs

                    .col-lg-6.col-md-12
                        .posts__list
                            .media
                                a(href="#")
                                    img(class="posts__img lazy", width="105", height="105",data-src="./assets/images/posts/post-tect-02.jpg", alt="Generic placeholder image")
                                .media-body
                                    h4
                                        a(href="#")
                                            | بحث در مورد پی سی
                                    p.posts__desc
                                        | لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه


                            .media
                                a(href="#")
                                    img(class="posts__img lazy", width="105", height="105",data-src="./assets/images/posts/post-tect-03.jpg", alt="Generic placeholder image")
                                .media-body
                                    h4
                                        a(href="#")
                                            | بحث در مورد پی سی
                                    p.posts__desc
                                        | لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه

                            .media
                                a(href="#")
                                    img(class="posts__img lazy", width="105", height="105",data-src="./assets/images/posts/post-tect-04.jpg", alt="Generic placeholder image")
                                .media-body
                                    h4
                                        a(href="#")
                                            | بحث در مورد پی سی
                                    p.posts__desc
                                        | لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه


                            .media
                                a(href="#")
                                    img(class="posts__img lazy", width="105", height="105",data-src="./assets/images/posts/post-tect-05.jpg", alt="Generic placeholder image")
                                .media-body
                                    h4
                                        a(href="#")
                                            | بحث در مورد پی سی
                                    p.posts__desc
                                        | لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه


                .section__header.row.align-items-center
                    .col-6
                            h3.section__title
                                | موضوعات داغ
                    .col-6
                        .text-left.text-sm-left
                            a(href="#")
                                | مشاهده همه

                ul.topics
                    li.topics__item
                        a(href="#")
                            img(data-src="./assets/images/topics/post-sm-01.jpg", class="topics__img lazy", alt="image")
                        h4.topics__title
                            a(href="#")
                                | کامپیوتر
                    li.topics__item
                        a(href="#")
                            img(data-src="./assets/images/topics/post-sm-02.jpg", class="topics__img lazy", alt="image")
                        h4.topics__title
                            a(href="#")
                                | کامپیوتر
                    li.topics__item
                        a(href="#")
                            img(data-src="./assets/images/topics/post-sm-03.jpg", class="topics__img lazy", alt="image")
                        h4.topics__title
                            a(href="#")
                                | کامپیوتر
                    li.topics__item
                        a(href="#")
                            img(data-src="./assets/images/topics/post-sm-04.jpg", class="topics__img lazy", alt="image")
                        h4.topics__title
                            a(href="#")
                                | کامپیوتر
                    li.topics__item
                        a(href="#")
                            img(data-src="./assets/images/topics/post-sm-05.jpg", class="topics__img lazy", alt="image")
                        h4.topics__title
                            a(href="#")
                                | کامپیوتر
                    li.topics__item
                        a(href="#")
                            img(data-src="./assets/images/topics/post-sm-06.jpg", class="topics__img lazy", alt="image")
                        h4.topics__title
                            a(href="#")
                                | کامپیوتر
    section.section
        .container
            .row
                main.col-xl-8.col-lg-8
                    article.box
                        a(href="#", class="box__img")
                            img(data-src="./assets/images/boxes/post-test-tech-01.jpg", class="lazy", alt="image")
                        .box__body
                            header
                                ul.box__categories
                                    li
                                        a(class="box__categories-item", href="#")
                                            | دسته اصلی
                                        a(class="box__categories-item", href="#")
                                            | دسته فرعی
                   
                                h3.box__title
                                    a(href="./single-post.html")
                                        | خرید بهترین دوربین تا 10 میلیون
    
  
                            .box__desc
                                span.ml-3
                                    i.icons-calendar.pl-2
                                    | در تاریخ 
                                    | 1399/10/15
   
                                span
                                    i.icons-clock.pl-2
                                    | زمان تقریبی مطالعه 5 دقیقه
                
                    article.box
                        a(href="#", class="box__img")
                            img(data-src="./assets/images/boxes/post-test-tech-02.jpg", class="lazy", alt="image")
                        .box__body
                            header
                                ul.box__categories
                                    li
                                        a(class="box__categories-item", href="#")
                                            | دسته اصلی
                                        a(class="box__categories-item", href="#")
                                            | دسته فرعی
                   
                                h3.box__title
                                    a(href="./single-post.html")
                                        | خرید بهترین دوربین تا 10 میلیون
    
  
                            .box__desc
                                span.ml-3
                                    i.icons-calendar.pl-2
                                    | در تاریخ 
                                    | 1399/10/15
   
                                span
                                    i.icons-clock.pl-2
                                    | زمان تقریبی مطالعه 5 دقیقه

                    article.box
                        a(href="#", class="box__img")
                            img(data-src="./assets/images/boxes/post-test-tech-03.jpg", class="lazy", alt="image")
                        .box__body
                            header
                                ul.box__categories
                                    li
                                        a(class="box__categories-item", href="#")
                                            | دسته اصلی
                                        a(class="box__categories-item", href="#")
                                            | دسته فرعی
                   
                                h3.box__title
                                    a(href="./single-post.html")
                                        | خرید بهترین دوربین تا 10 میلیون
    
  
                            .box__desc
                                span.ml-3
                                    i.icons-calendar.pl-2
                                    | در تاریخ 
                                    | 1399/10/15
   
                                span
                                    i.icons-clock.pl-2
                                    | زمان تقریبی مطالعه 5 دقیقه

                    article.box
                        a(href="#", class="box__img")
                            img(data-src="./assets/images/boxes/post-test-tech-04.jpg", class="lazy", alt="image")
                        .box__body
                            header
                                ul.box__categories
                                    li
                                        a(class="box__categories-item", href="#")
                                            | دسته اصلی
                                        a(class="box__categories-item", href="#")
                                            | دسته فرعی
                   
                                h3.box__title
                                    a(href="./single-post.html")
                                        | خرید بهترین دوربین تا 10 میلیون
    
  
                            .box__desc
                                span.ml-3
                                    i.icons-calendar.pl-2
                                    | در تاریخ 
                                    | 1399/10/15
   
                                span
                                    i.icons-clock.pl-2
                                    | زمان تقریبی مطالعه 5 دقیقه

                    article.box
                        a(href="#", class="box__img")
                            img(data-src="./assets/images/boxes/post-test-tech-05.jpg", class="lazy", alt="image")
                        .box__body
                            header
                                ul.box__categories
                                    li
                                        a(class="box__categories-item", href="#")
                                            | دسته اصلی
                                        a(class="box__categories-item", href="#")
                                            | دسته فرعی
                   
                                h3.box__title
                                    a(href="./single-post.html")
                                        | خرید بهترین دوربین تا 10 میلیون
    
  
                            .box__desc
                                span.ml-3
                                    i.icons-calendar.pl-2
                                    | در تاریخ 
                                    | 1399/10/15
   
                                span
                                    i.icons-clock.pl-2
                                    | زمان تقریبی مطالعه 5 دقیقه                                             


                    .card.card--gray
                        .card-header.text-center
                            span.card-title
                                | مطالب بیشتری را ببینید
                       
                        .card-body
                            nav(class="d-flex justify-content-center", aria-label="Page navigation")
                                ul.pagination
                                    li.page-item
                                        a(class="page-link", href="#", aria-label="Previous")
                                            span(aria-hidden="true")
                                                | &laquo;
                                    li.page-item.active
                                        a(class="page-link",href="#")
                                            | 1
                                    li.page-item
                                        a(class="page-link", href="#")
                                            | 2
                                    li.page-item
                                        a(class="page-link", href="#")
                                            | 3
                                    li.page-item
                                        a(class="page-link", href="#", aria-label="Next")
                                            span(aria-hidden="true")
                                                | &raquo;



                aside.col-xl-4.col-lg-4.sticky

                    .card.sidebar
                        .card-header.text-center
                            span.card-title
                                | جستجو در به مگ

                        .card-body
                            form
                                .search-form-group
                                    button(type="submit" class="search__btn")
                                        i(class="icons-search")
                                    input(type="text" class="form-control" placeholder="جستجو در به مگ")


                    .card.sidebar
                        .card-header.text-center
                            span.card-title
                            | محبوب ترین ها

                        .card-body
                            .media
                                img(class="sidebar__img lazy", width="80", height="80",data-src="./assets/images/posts/post-tect-01.jpg", alt="Generic placeholder image")

                                .media-body
                                    h5
                                        a(href="#" class="sidebar__title")
                                            | بررسی جامع گوشی Samsung Galaxy Note 20 Ultra
                                    span.sidebar__desc
                                        i.icons-calendar.pl-1
                                        | در
                                        | 1399/10/15
                            .media
                                img(class="sidebar__img lazy", width="80", height="80",data-src="./assets/images/posts/post-tect-02.jpg", alt="Generic placeholder image")

                                .media-body
                                    h5
                                        a(href="#" class="sidebar__title")
                                            | بررسی جامع گوشی Samsung Galaxy Note 20 Ultra
                                    span.sidebar__desc
                                        i.icons-calendar.pl-1
                                        | در
                                        | 1399/10/15
                            .media
                                img(class="sidebar__img lazy", width="80", height="80",data-src="./assets/images/posts/post-tect-03.jpg", alt="Generic placeholder image")

                                .media-body
                                    h5
                                        a(href="#" class="sidebar__title")
                                            | بررسی جامع گوشی Samsung Galaxy Note 20 Ultra
                                    span.sidebar__desc
                                        i.icons-calendar.pl-1
                                        | در
                                        | 1399/10/15
                            .media
                                img(class="sidebar__img lazy", width="80", height="80",data-src="./assets/images/posts/post-tect-04.jpg", alt="Generic placeholder image")

                                .media-body
                                    h5
                                        a(href="#" class="sidebar__title")
                                            | بررسی جامع گوشی Samsung Galaxy Note 20 Ultra
                                    span.sidebar__desc
                                        i.icons-calendar.pl-1
                                        | در
                                        | 1399/10/15