doctype html
html(lang="fa-IR" , dir="rtl")
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="theme-color", content="#ff8f3c")
    meta(name="msapplication-navbutton-color", content="#ff8f3c")
    meta(name="apple-mobile-web-app-status-bar-style", content="#ff8f3c")
    link(rel="shortcut icon", type="image/x-icon", href="/assets/images/icons/favicon.ico")
    link(rel="apple-touch-icon", sizes="180x180", href="/assets/images/icons/iphone-pwa-icon-180x180.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/assets/images/icons/favicon-16x16.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/assets/images/icons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="96x96", href="/assets/images/icons/favicon-96x96.png")
    link(rel="icon", type="image/png", sizes="192x192", href="/assets/images/icons/android-icon-192x192.png")
    link(rel="stylesheet", href="/assets/css/main.min.css")

  body
    include components/header.jade
    block content
    include components/footer.jade

    div(class="back-to-top rounded text-center" id="back-to-top")
      i(class="icons-angle-up d-block")
    script(src="./assets/scripts/lazyload.min.js")
    script(src="./assets/scripts/app.js")